# Data Exploration - Individual Mobility

Import libraries and reading data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from itertools import product

from IPython.display import display
import time

Further cleaning the data

In [2]:
# new_nyc_df = pd.read_csv('cleaned_NYC_records_duration.csv')
# new_nyc_df['cleaned_UTC_time'] = pd.to_datetime(new_nyc_df["UTC_time"])
# new_nyc_df.loc[pd.isna(new_nyc_df.general_venue_category_name), 'general_venue_category_name'] = 'Others'

# new_nyc_write_df = new_nyc_df[['user_id', 'venue_id', 'venue_category_id', 'venue_category_name', 'general_venue_category_name', 'latitude',
#                                'longitude', 'UTC_time', 'duration']]
# new_nyc_write_df.to_csv('cleaned_NYC_records_duration.csv', index=False)

In [2]:
new_nyc_df = pd.read_csv('cleaned_NYC_records_duration.csv')
new_nyc_df['cleaned_UTC_time'] = pd.to_datetime(new_nyc_df["UTC_time"])
less_equal_2hours_df = new_nyc_df[(new_nyc_df.duration <= 2) & (new_nyc_df.duration != -1)]

months = [4, 5, 6]
less_than_2hrs_3months_df = less_equal_2hours_df.copy()
less_than_2hrs_3months_df['month'] = less_than_2hrs_3months_df['cleaned_UTC_time'].dt.month
less_than_2hrs_3months_df = less_than_2hrs_3months_df[less_than_2hrs_3months_df['month'].isin(months)]

In [3]:
def finding_days_users_less_than_2hrs_records_groupto(df):
    all_users_days_df = df.copy()
    all_users_days_df['date'] = all_users_days_df.apply(lambda x : x.cleaned_UTC_time.date(), axis=1)
    all_users_unique_days_df = all_users_days_df.groupby('user_id')['date'].nunique().reset_index(name='counts')
    all_users_unique_days_df = all_users_unique_days_df.sort_values(by=['counts'])
    return all_users_unique_days_df

In [4]:
user_days_df = finding_days_users_less_than_2hrs_records_groupto(less_than_2hrs_3months_df)
frequent_users_df = user_days_df[user_days_df['counts'] >= 50]

In [5]:
user_set_df = less_than_2hrs_3months_df[less_than_2hrs_3months_df.user_id.isin(frequent_users_df.user_id)]
user_set_df.groupby('user_id')['general_venue_category_name'].apply(lambda x: list(pd.unique(x))).reset_index(name='category_set')

    user_id                                       category_set
0        84  [Eateries, Outdoor, Arts, Others, Shops, Enter...
1       120  [Eateries, Shops, Others, Entertainment, Relig...
2       178  [Eateries, Shops, Others, Fitness, Services, O...
3       184  [Eateries, Others, Arts, Services, Shops, Ente...
4       185  [Eateries, Arts, Others, Services, Outdoor, En...
5       187  [Others, Shops, Eateries, Arts, Outdoor, Servi...
6       207      [Others, Shops, Education, Services, Outdoor]
7       280  [Eateries, Shops, Services, Others, Education,...
8       281  [Shops, Eateries, Outdoor, Religious Places, O...
9       293  [Outdoor, Eateries, Others, Shops, Services, E...
10      315  [Shops, Others, Eateries, Services, Outdoor, E...
11      354  [Shops, Others, Outdoor, Services, Eateries, E...
12      371  [Outdoor, Shops, Others, Eateries, Services, E...
13      384  [Others, Eateries, Shops, Services, Entertainm...
14      396  [Outdoor, Eateries, Others, Entertainment, Shops]
15      439  [Services, Shops, Outdoor, Eateries, Others, R...
16      440  [Others, Eateries, Shops, Fitness, Arts, Outdo...
17      443  [Others, Eateries, Shops, Outdoor, Arts, Exhib...
18      445  [Eateries, Others, Shops, Entertainment, Servi...
19      448  [Eateries, Shops, Others, Education, Outdoor, ...
20      458  [Education, Outdoor, Shops, Eateries, Services...
21      527  [Others, Shops, Outdoor, Eateries, Services, E...
22      593                [Services, Eateries, Others, Shops]
23      652       [Eateries, Others, Services, Shops, Outdoor]
24      689                               [Services, Eateries]
25      706  [Eateries, Shops, Entertainment, Others, Educa...
26      742  [Others, Shops, Entertainment, Eateries, Outdo...
27      768  [Eateries, Others, Shops, Arts, Outdoor, Enter...
28      819  [Eateries, Outdoor, Others, Shops, Services, F...
29      943  [Others, Arts, Eateries, Exhibitions, Shops, F...
30      951  [Others, Eateries, Services, Shops, Arts, Fitn...
31      962  [Outdoor, Others, Services, Eateries, Shops, F...
32      974  [Outdoor, Others, Shops, Eateries, Fitness, En...
33      990                       [Services, Others, Eateries]

In [6]:
user_set_df = less_than_2hrs_3months_df[less_than_2hrs_3months_df.user_id.isin(frequent_users_df.user_id)]
a_df = user_set_df.groupby('user_id')['general_venue_category_name'].apply(lambda x: len(list(pd.unique(x)))).reset_index(name='category_set')
a_df.describe()

          user_id  category_set
count   34.000000     34.000000
mean   494.352941      7.323529
std    273.990697      2.211822
min     84.000000      2.000000
25%    284.000000      6.000000
50%    441.500000      7.000000
75%    701.750000      8.750000
max    990.000000     11.000000

In [7]:
user_set_count_df = less_than_2hrs_3months_df.groupby(['user_id', 'general_venue_category_name']).size().reset_index(name='counts')
user_set_count_df = user_set_count_df[user_set_count_df.user_id.isin(frequent_users_df.user_id)]
user_set_count_df

      user_id general_venue_category_name  counts
355        84                        Arts      80
356        84                    Eateries     219
357        84                   Education      10
358        84               Entertainment      10
359        84                 Exhibitions       2
...       ...                         ...     ...
4527      974                     Outdoor      85
4528      974                       Shops      15
4602      990                    Eateries       1
4603      990                      Others      42
4604      990                    Services     228

[249 rows x 3 columns]

In [8]:
# Compute the neighbor index of the current index
def neighbors(index):
    N = len(index)
    for relative_index in product((0, -1), repeat=N): # generate combination of 0 and -1 with the same length as the index
        if not all(i == 0 for i in relative_index): # there is at least one entry that is subtracted by -1
            yield tuple(i + i_rel for i, i_rel in zip(index, relative_index))
            
def longestCommonSubSequenceOfN(sqs):
    numberOfSequences = len(sqs); # calculate the number of sequences input
    lengths = np.array([len(sequence) for sequence in sqs]); # compute the length of each sequence and save to an array
    incrLengths = lengths + 1; # add 1 to each length of sequence
    lengths = tuple(lengths); # change the lengths type from array to tuple
    inverseDistances = np.zeros(incrLengths); # make zero matrix as incrLengths size
    ranges = [tuple(range(1, length+1)) for length in lengths[::-1]]; # start from here, the author use 1 to represent the 0th element,
                                                                      # and the length is arranged in inverse order
        
    # For 3 sequences with lengths 3, 2, 1
    # The ranges becomes [(1), (1, 2), (1, 2, 3)]
    for tupleIndex in product(*ranges): 
        #print(tupleIndex)
        tupleIndex = tupleIndex[::-1]; # inverse the tupleIndex variable
        #print(tupleIndex)
        neighborIndexes = list(neighbors(tupleIndex)); # compute all possible neighbors index
        #print(neighborIndexes)
        operationsWithMisMatch = np.array([]);
        for neighborIndex in neighborIndexes:
            operationsWithMisMatch = np.append(operationsWithMisMatch, inverseDistances[neighborIndex]);
        operationsWithMatch = np.copy(operationsWithMisMatch);
        #print(operationsWithMatch)
        operationsWithMatch[-1] = operationsWithMatch[-1] + 1;
        chars = [sqs[i][neighborIndexes[-1][i]] for i in range(numberOfSequences)];
        #print(chars)
        #print(inverseDistances)
        if(all(elem == chars[0] for elem in chars)):
            inverseDistances[tupleIndex] = max(operationsWithMatch);
        else:
            inverseDistances[tupleIndex] = max(operationsWithMisMatch);
        # pdb.set_trace();

    print(inverseDistances)
#     subString = "";
    returnSequences = [];
    mainTupleIndex = lengths;
    while(all(ind > 0 for ind in mainTupleIndex)):
        neighborsIndexes = list(neighbors(mainTupleIndex));
        print(neighborsIndexes)
        anyOperation = False;
        for tupleIndex in neighborsIndexes:
            current = inverseDistances[mainTupleIndex];
            if(current == inverseDistances[tupleIndex]):
                mainTupleIndex = tupleIndex;
                anyOperation = True;
                break;
        if(not anyOperation):
#             subString += str(sqs[0][mainTupleIndex[0] - 1]);
            returnSequences.append(sqs[0][mainTupleIndex[0] - 1]);
            mainTupleIndex = neighborsIndexes[-1];
#     return subString[::-1];
    return returnSequences[::-1];

In [10]:
seq = [['A', 'B', 'C'], ['A', 'C'], ['A','C']]
longestCommonSubSequenceOfN(seq)

[[[0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 1. 1.]
  [0. 1. 1.]]

 [[0. 0. 0.]
  [0. 1. 1.]
  [0. 1. 1.]]

 [[0. 0. 0.]
  [0. 1. 1.]
  [0. 1. 2.]]]
[(3, 2, 1), (3, 1, 2), (3, 1, 1), (2, 2, 2), (2, 2, 1), (2, 1, 2), (2, 1, 1)]
[(2, 1, 0), (2, 0, 1), (2, 0, 0), (1, 1, 1), (1, 1, 0), (1, 0, 1), (1, 0, 0)]
[(1, 1, 0), (1, 0, 1), (1, 0, 0), (0, 1, 1), (0, 1, 0), (0, 0, 1), (0, 0, 0)]

['A', 'C']

In [10]:
def generateLCSForUser(df, user_id):
    start_time = time.time()
    result_df = pd.DataFrame(columns=['user_id', 'LCS'])
    LCS_list = []
    user_df = df[df.user_id == user_id]
    sequences = np.array(user_df.category_set)
    LCS_list.append(longestCommonSubSequenceOfN(sequences[:32]))
    LCS_list.append(longestCommonSubSequenceOfN(sequences[32:]))
    print(longestCommonSubSequenceOfN(LCS_list))
    print("The process takes {} seconds".format(time.time() - start_time))

In [9]:
subsequence_all_df = user_set_df.copy()
subsequence_all_df['date'] = subsequence_all_df.apply(lambda x : x.cleaned_UTC_time.date(), axis=1)
subsequence_all_df = subsequence_all_df.groupby(['user_id', 'date'])['general_venue_category_name'].apply(lambda x: list(x)).reset_index(name='category_set')
subsequence_all_df['counts'] = subsequence_all_df['category_set'].apply(lambda x: len(x))

User id 187 has 50 records, just passing the threshold

In [12]:
# def generateLCSForUser187(df):
#     start_time = time.time()
#     result_df = pd.DataFrame(columns=['user_id', 'LCS'])
#     LCS_list = []
#     user_df = df[df.user_id == 187]
#     sequences = np.array(user_df.category_set)
#     LCS_list.append(longestCommonSubSequenceOfN(sequences[:32]))
#     LCS_list.append(longestCommonSubSequenceOfN(sequences[32:]))
#     print(longestCommonSubSequenceOfN(LCS_list))
#     print("The process takes {} seconds".format(time.time() - start_time))
#     new_row = {'user_id': user, 'LCS': longestCommonSubSequenceOfN(sequences)}
#     result_df.append(new_row, ignore_index=True)

In [13]:
sequences_187_df = subsequence_all_df[(subsequence_all_df.user_id == 187) & (subsequence_all_df.counts > 1)]
sequences_187_df.groupby(['counts']).size().reset_index(name='size')

   counts  size
0       2     3
1       3    14
2       4    13
3       5     8
4       6     3
5       7     1
6       8     2

In [14]:
sequences_187_df

,user_id,date,category_set,counts
314,187,2012-04-06,"[Others, Others, Others]",3
315,187,2012-04-07,"[Shops, Shops]",2
316,187,2012-04-09,"[Others, Others, Eateries, Others]",4
318,187,2012-04-12,"[Others, Others, Eateries, Others, Eateries]",5
319,187,2012-04-13,"[Others, Others, Eateries]",3
320,187,2012-04-15,"[Others, Shops]",2
321,187,2012-04-17,"[Others, Others, Eateries, Others, Others]",5
322,187,2012-04-18,"[Others, Others, Eateries, Others, Others]",5
323,187,2012-04-19,"[Others, Others, Eateries, Others]",4
324,187,2012-04-20,"[Others, Others, Eateries, Others]",4
325,187,2012-04-23,"[Others, Others, Eateries, Others]",4
326,187,2012-04-24,"[Others, Others, Eateries, Others]",4
327,187,2012-04-26,"[Others, Others, Others, Others, Arts]",5
328,187,2012-04-27,"[Others, Others, Others, Arts, Outdoor, Others...",8
329,187,2012-04-29,"[Eateries, Shops, Eateries]",3
330,187,2012-05-03,"[Others, Others, Eateries, Others, Services]",5
331,187,2012-05-04,"[Eateries, Education]",2
332,187,2012-05-07,"[Others, Others, Eateries, Others]",4
333,187,2012-05-08,"[Others, Eateries, Others]",3
334,187,2012-05-09,"[Others, Others, Eateries, Others]",4
335,187,2012-05-11,"[Services, Shops, Others, Others, Shops]",5
336,187,2012-05-12,"[Others, Others, Eateries, Outdoor, Others, Sh...",8
339,187,2012-05-15,"[Others, Eateries, Others]",3
340,187,2012-05-16,"[Others, Others, Eateries, Others, Outdoor, Se...",6
341,187,2012-05-17,"[Others, Others, Eateries, Others]",4
342,187,2012-05-18,"[Others, Others, Eateries, Others]",4
343,187,2012-05-21,"[Others, Others, Eateries, Others, Shops]",5
344,187,2012-05-22,"[Others, Others, Others]",3
345,187,2012-05-23,"[Shops, Others, Others]",3
346,187,2012-05-25,"[Others, Others, Eateries, Others]",4
347,187,2012-05-29,"[Others, Others, Eateries, Others, Eateries]",5
348,187,2012-05-31,"[Eateries, Others, Services]",3
349,187,2012-06-01,"[Others, Others, Eateries, Others]",4
350,187,2012-06-04,"[Others, Others, Eateries]",3
351,187,2012-06-05,"[Others, Others, Eateries, Others]",4
352,187,2012-06-06,"[Others, Eateries, Others, Outdoor, Eateries, ...",6
353,187,2012-06-07,"[Others, Others, Eateries, Others, Outdoor, Ot...",7
354,187,2012-06-08,"[Others, Others, Eateries, Others, Eateries, E...",6
355,187,2012-06-11,"[Others, Others, Eateries]",3
356,187,2012-06-12,"[Others, Others, Others]",3
357,187,2012-06-13,"[Others, Others, Eateries]",3
358,187,2012-06-15,"[Others, Eateries, Others]",3
360,187,2012-06-21,"[Others, Others, Others]",3
361,187,2012-06-27,"[Others, Others, Eateries, Others]",4

In [15]:
exploring_df = sequences_187_df[(sequences_187_df.counts > 2) & (sequences_187_df.counts < 6)]
start_time = time.time()
LCS_lists = []
sequences = np.array(exploring_df.category_set)
for i in range(0, len(exploring_df), 4):
    if i+4 > len(sequences):
        LCS_lists.append(longestCommonSubSequenceOfN(sequences[i:]))
    else:
        LCS_lists.append(longestCommonSubSequenceOfN(sequences[i : i+4]))
print(LCS_lists)
LCS_lists = [x for x in LCS_lists if x != []]
print(longestCommonSubSequenceOfN(LCS_lists))
print("The process takes {} seconds".format(time.time() - start_time))

[['Others', 'Others'], ['Others', 'Others', 'Eateries', 'Others'], [], ['Others', 'Eateries', 'Others'], ['Others', 'Others'], ['Others', 'Others'], ['Others'], ['Others', 'Others'], ['Others', 'Others']]
['Others']
The process takes 2.6998815536499023 seconds

In [16]:
start_time = time.time()
LCS_lists = []
user_df = subsequence_all_df[subsequence_all_df.user_id == 187]
sequences = np.array(user_df.category_set)
for i in range(0, len(user_df), 4):
    if i+4 > len(sequences):
        LCS_lists.append(longestCommonSubSequenceOfN(sequences[i:]))
    else:
        LCS_lists.append(longestCommonSubSequenceOfN(sequences[i : i+4]))
print(LCS_lists)
LCS_lists = [x for x in LCS_lists if x != []]
print(longestCommonSubSequenceOfN(LCS_lists))
print("The process takes {} seconds".format(time.time() - start_time))

[[], ['Others'], ['Others'], ['Others', 'Others', 'Others'], [], ['Others', 'Others'], [], ['Others', 'Others', 'Eateries', 'Others'], ['Others', 'Others'], ['Others'], ['Others', 'Others', 'Eateries'], [], ['Others', 'Others', 'Others']]
['Others']
The process takes 6.190539121627808 seconds

Computing the most dominant sequences for all users

In [10]:
def compute_the_top_k_groups(df):
    temp_df = df.groupby(['counts']).size().reset_index(name='size')
    temp_df = temp_df.sort_values(by=['size'], ascending=False)
    print(temp_df)
    return np.array(temp_df.counts)

def compute_dominant_sequence(user_records_df):
    start_time = time.time()
    LCS_lists = []
    sequences = np.array(user_records_df.category_set)
    for i in range(0, len(user_records_df), 4):
        if i+4 > len(sequences):
            LCS_lists.append(longestCommonSubSequenceOfN(sequences[i:]))
        else:
            LCS_lists.append(longestCommonSubSequenceOfN(sequences[i : i+4]))
    LCS_lists = [x for x in LCS_lists if x != []]
    print(LCS_lists)
    LCS = longestCommonSubSequenceOfN(LCS_lists)
    elapsed_time = time.time() - start_time
    print(elapsed_time)
    return (LCS, elapsed_time)

def compute_dominant_sequences_for_users(df, frequent_users_df):
    result_df = pd.DataFrame(columns=['user_id', 'dominant_sequence', 'time (s)'])
    for user_id in frequent_users_df.user_id:
        print(user_id)
        user_records_df = df[(df.user_id == user_id) & (df.counts > 1)]
        topk_array = compute_the_top_k_groups(user_records_df)
        print(topk_array)
        topk_array = topk_array[:3]
        user_records_df = user_records_df[user_records_df.counts.isin(topk_array)]
        LCS, elapsed_time = compute_dominant_sequence(user_records_df)
        new_row = {'user_id': user_id, 'dominant_sequence': LCS, 'time (s)': elapsed_time}
        result_df = result_df.append(new_row, ignore_index=True)
        print()
    return result_df

def compute_LCS_for_users(df, frequent_users_df):
    result_df = pd.DataFrame(columns=['user_id', 'dominant_sequence', 'time (s)'])
    for user_id in frequent_users_df.user_id:
        print(user_id)
        user_records_df = df[(df.user_id == user_id)]
        LCS, elapsed_time = compute_dominant_sequence(user_records_df)
        new_row = {'user_id': user_id, 'dominant_sequence': LCS, 'time (s)': elapsed_time}
        result_df = result_df.append(new_row, ignore_index=True)
        print()
    return result_df

In [11]:
result_df = compute_dominant_sequences_for_users(subsequence_all_df, frequent_users_df)

187
   counts  size
1       3    14
2       4    13
3       5     8
0       2     3
4       6     3
6       8     2
5       7     1
[3 4 5 2 6 8 7]
[['Others', 'Others'], ['Others', 'Others', 'Eateries', 'Others'], ['Others', 'Eateries', 'Others'], ['Others', 'Others'], ['Others', 'Others'], ['Others'], ['Others', 'Others'], ['Others', 'Others']]
1.314002275466919

384
    counts  size
10      12     9
4        6     6
13      15     5
11      13     4
2        4     3
1        3     3
0        2     2
15      20     2
5        7     2
6        8     2
7        9     2
8       10     2
12      14     2
16      21     1
9       11     1
14      17     1
3        5     1
17      23     1
[12  6 15 13  4  3  2 20  7  8  9 10 14 21 11 17  5 23]
[['Eateries', 'Others', 'Eateries', 'Others', 'Eateries'], ['Others', 'Others', 'Others'], ['Others', 'Eateries'], ['Eateries', 'Services', 'Eateries'], ['Eateries', 'Eateries', 'Eateries', 'Services']]
11.438998699188232

448
    counts  size
0        2     9
4        6     9
1        3     7
2        4     5
3        5     3
5        7     3
6        8     2
9       11     2
7        9     1
8       10     1
10      12     1
[ 2  6  3  4  5  7  8 11  9 10 12]
[['Shops'], ['Shops'], ['Others'], ['Services', 'Others', 'Eateries']]
0.19900012016296387

819
   counts  size
0       2    11
4       6    11
2       4     7
1       3     6
3       5     5
5       7     3
6       8     2
7       9     1
[2 6 4 3 5 7 8 9]
[['Others', 'Others', 'Outdoor'], ['Others'], ['Others'], ['Others'], ['Others', 'Others'], ['Others', 'Others'], ['Others', 'Others', 'Outdoor', 'Others']]
0.41502928733825684

280
   counts  size
0       2    11
1       3     7
2       4     6
3       5     6
5       7     4
4       6     3
6       8     2
7       9     2
8      10     2
[ 2  3  4  5  7  6  8  9 10]
[['Eateries'], ['Eateries', 'Eateries'], ['Eateries', 'Eateries']]
0.054999351501464844

281
   counts  size
1       3    11
2       4     8
0       2     5
3       5     5
4       6     3
5       7     2
8      11     2
6       8     1
7       9     1
[ 3  4  2  5  6  7 11  8  9]
[['Eateries'], ['Shops'], ['Shops'], ['Shops']]
0.10699939727783203

742
   counts  size
4       6     9
1       3     8
2       4     8
0       2     7
3       5     7
5       7     5
7      10     2
6       9     1
8      12     1
[ 6  3  4  2  5  7 10  9 12]
[['Others'], ['Others'], ['Others'], ['Others'], ['Others', 'Others'], ['Others'], ['Others', 'Shops', 'Others', 'Fitness']]
0.3730347156524658

207
   counts  size
0       2    18
1       3    11
2       4     2
3       5     2
4       7     1
[2 3 4 5 7]
[['Others'], ['Others'], ['Shops'], ['Others'], ['Shops'], ['Others'], ['Shops']]
0.04699993133544922

184
   counts  size
0       2    12
1       3    12
2       4     6
3       5     4
4       6     3
5       9     1
6      12     1
[ 2  3  4  5  6  9 12]
[['Eateries'], ['Eateries'], ['Eateries'], ['Others', 'Others']]
0.07098960876464844

962
   counts  size
0       2    12
1       3     3
2       5     1
[2 3 5]
[['Eateries'], ['Eateries']]
0.017995357513427734

593
   counts  size
0       2    13
1       3    12
2       4     4
3       5     3
4       6     2
5       7     2
[2 3 4 5 6 7]
[['Eateries'], ['Eateries'], ['Others'], ['Others', 'Others'], ['Others'], ['Eateries', 'Others']]
0.06199955940246582

652
   counts  size
0       2    13
1       3    11
2       4     6
3       5     2
[2 3 4 5]
[['Eateries'], ['Others', 'Eateries'], ['Eateries'], ['Others'], ['Others'], ['Others'], ['Others', 'Eateries']]
0.07199978828430176

178
    counts  size
0        2     8
1        3     6
2        4     6
4        6     5
6        8     3
12      15     3
5        7     2
7        9     2
10      12     2
13      17     2
3        5     1
8       10     1
9       11     1
11      14     1
14      18     1
[ 2  3  4  6  8 15  7  9 12 17  5 10 11 14 18]
[['Shops']]
0.04900002479553223

689
   counts  size
0       2    14
1       3     6
2       4     3
[2 3 4]
[['Eateries'], ['Eateries', 'Eateries'], ['Eateries'], ['Eateries'], ['Eateries'], ['Eateries', 'Eateries']]
0.04600405693054199

706
    counts  size
5        7     6
8       10     5
11      14     4
2        4     4
10      13     3
14      17     3
12      15     3
1        3     3
17      20     2
15      18     2
0        2     2
7        9     2
6        8     2
4        6     2
3        5     2
21      31     2
9       11     1
13      16     1
16      19     1
18      22     1
19      26     1
20      27     1
[ 7 10 14  4 13 17 15  3 20 18  2  9  8  6  5 31 11 16 19 22 26 27]
[['Others', 'Eateries', 'Eateries'], ['Eateries', 'Eateries', 'Eateries', 'Eateries', 'Eateries'], ['Eateries', 'Eateries', 'Shops'], ['Eateries', 'Eateries', 'Eateries', 'Eateries', 'Shops']]
4.742048740386963

951
   counts  size
0       2    21
1       3     9
2       4     5
3       5     2
4       6     2
[2 3 4 5 6]
[['Eateries'], ['Others'], ['Others'], ['Eateries']]
0.055999040603637695

527
    counts  size
1        3    12
4        6     7
0        2     5
5        7     5
3        5     4
6        8     4
7        9     4
2        4     3
8       11     3
10      13     2
9       12     1
11      18     1
[ 3  6  2  7  5  8  9  4 11 13 12 18]
[['Others'], ['Outdoor', 'Outdoor', 'Shops'], ['Outdoor']]
0.27403759956359863

943
   counts  size
0       2    17
3       5     8
1       3     7
2       4     7
4       6     1
5       9     1
[2 5 3 4 6 9]
[['Others'], ['Others'], ['Others'], ['Others'], ['Eateries', 'Others'], ['Eateries']]
0.07899999618530273

990
   counts  size
3       5    13
1       3     8
4       6     8
2       4     7
0       2     6
6       8     3
5       7     2
7       9     2
8      10     2
9      12     1
[ 5  3  6  4  2  8  7  9 10 12]
[['Services', 'Services', 'Services', 'Services'], ['Services', 'Services', 'Services'], ['Services', 'Others'], ['Services', 'Services'], ['Services', 'Services'], ['Services', 'Services'], ['Services', 'Services', 'Services', 'Services'], ['Services', 'Services', 'Services', 'Services', 'Others']]
10.644999742507935

120
   counts  size
0       2    22
1       3     9
2       4     7
3       5     5
5       7     3
4       6     2
[2 3 4 5 7 6]
[['Others'], ['Others', 'Others'], ['Others'], ['Eateries'], ['Others', 'Others'], ['Others'], ['Eateries']]
0.06403517723083496

974
    counts  size
0        2     7
3        5     7
2        4     6
6        8     6
5        7     5
1        3     4
4        6     2
7        9     2
8       10     2
9       11     2
12      17     2
10      14     1
11      15     1
[ 2  5  4  8  7  3  6  9 10 11 17 14 15]
[['Others'], ['Others', 'Others'], ['Outdoor'], ['Others']]
0.10903000831604004

439
    counts  size
0        2    11
3        5     7
2        4     6
1        3     5
4        6     5
5        7     3
8       11     2
9       12     2
6        8     1
7       10     1
10      16     1
[ 2  5  4  3  6  7 11 12  8 10 16]
[['Eateries'], ['Others']]
0.10699915885925293

396
   counts  size
0       2    24
1       3    11
2       4     1
3       5     1
[2 3 4 5]
[['Outdoor'], ['Outdoor', 'Eateries'], ['Outdoor'], ['Outdoor'], ['Outdoor', 'Eateries'], ['Outdoor'], ['Outdoor'], ['Outdoor']]
0.054997920989990234

768
    counts  size
1        3     8
3        5     8
2        4     7
4        6     6
5        7     5
9       11     5
7        9     4
10      13     4
0        2     3
6        8     3
11      14     2
8       10     1
12      15     1
[ 3  5  4  6  7 11  9 13  2  8 14 10 15]
[['Eateries'], ['Shops', 'Outdoor'], ['Outdoor']]
0.17102766036987305

440
   counts  size
0       2    15
2       4    10
1       3     8
3       5     7
4       6     7
5       7     2
6       8     2
7       9     2
[2 4 3 5 6 7 8 9]
[['Others'], ['Others'], ['Others'], ['Others'], ['Others', 'Others'], ['Others'], ['Others'], ['Outdoor', 'Arts']]
0.09999871253967285

445
    counts  size
2        4    11
1        3    10
3        5     9
0        2     5
6        8     5
4        6     4
5        7     3
7        9     3
8       10     1
9       11     1
10      13     1
[ 4  3  5  2  8  6  7  9 10 11 13]

[['Eateries'], ['Eateries'], ['Eateries'], ['Entertainment', 'Eateries'], ['Eateries', 'Eateries'], ['Eateries'], ['Eateries', 'Eateries'], ['Eateries', 'Eateries']]
0.34696006774902344

443
   counts  size
1       3    13
0       2    10
2       4    10
4       6     6
5       7     5
3       5     4
6       8     3
7       9     2
8      11     2
[ 3  2  4  6  7  5  8  9 11]
[['Others'], ['Others', 'Others'], ['Eateries'], ['Eateries', 'Others'], ['Others'], ['Eateries'], ['Arts', 'Outdoor']]
0.1119985580444336

371
    counts  size
3        5     9
0        2     8
7        9     8
6        8     7
4        6     6
8       10     6
5        7     5
2        4     4
1        3     3
10      12     3
9       11     2
11      13     2
[ 5  2  9  8  6 10  7  4  3 12 11 13]
[['Others', 'Others'], ['Others'], ['Others'], ['Others'], ['Others'], ['Others', 'Others', 'Others', 'Eateries', 'Others']]
0.6509995460510254

354
    counts  size
0        2    10
3        5     8
1        3     7
2        4     6
7        9     4
8       10     4
5        7     4
4        6     4
6        8     2
9       11     2
12      15     2
10      12     1
11      13     1
13      16     1
14      17     1
15      21     1
16      24     1
[ 2  5  3  4  9 10  7  6  8 11 15 12 13 16 17 21 24]
[['Others'], ['Others'], ['Others'], ['Others', 'Others'], ['Others'], ['Others', 'Others', 'Outdoor', 'Outdoor', 'Outdoor']]
0.1190042495727539

315
    counts  size
2        4    12
3        5     9
5        7     8
4        6     7
0        2     6
8       10     5
1        3     4
6        8     4
9       11     4
10      13     2
13      18     2
7        9     1
11      14     1
12      15     1
[ 4  5  7  6  2 10  3  8 11 13 18  9 14 15]
[['Eateries', 'Eateries', 'Eateries'], ['Eateries', 'Eateries'], ['Shops'], ['Shops', 'Eateries'], ['Eateries', 'Eateries'], ['Shops', 'Eateries'], ['Eateries', 'Eateries', 'Eateries', 'Eateries'], ['Eateries', 'Eateries', 'Shops', 'Eateries']]
3.3129801750183105

458
    counts  size
3        5    15
1        3    12
2        4     9
0        2     8
4        6     5
7        9     4
10      12     4
5        7     3
6        8     1
8       10     1
9       11     1
11      13     1
[ 5  3  4  2  6  9 12  7  8 10 11 13]
[['Shops'], ['Others'], ['Eateries'], ['Eateries'], ['Services'], ['Eateries']]
0.5080037117004395

185
    counts  size
6        8     8
3        5     7
4        6     7
5        7     7
8       10     7
0        2     6
1        3     5
2        4     5
10      12     5
7        9     4
9       11     4
11      13     1
12      15     1
13      16     1
[ 8  5  6  7 10  2  3  4 12  9 11 13 15 16]
[['Eateries'], ['Eateries', 'Eateries'], ['Eateries', 'Eateries'], ['Eateries', 'Others', 'Others'], ['Others', 'Eateries']]
1.6659674644470215

84
    counts  size
2        4     9
5        7     9
4        6     7
9       11     6
10      12     5
1        3     5
7        9     4
0        2     4
6        8     4
3        5     4
11      13     3
8       10     2
12      15     2
13      16     2
15      18     2
14      17     1
16      19     1
17      21     1
[ 4  7  6 11 12  3  9  2  8  5 13 10 15 16 18 17 19 21]
[['Eateries'], ['Eateries', 'Eateries'], ['Shops'], ['Eateries'], ['Shops', 'Eateries', 'Eateries', 'Others', 'Others', 'Arts', 'Eateries']]
0.9689981937408447

293
   counts  size
1       3    12
3       5    10
4       6    10
2       4     8
0       2     7
6       8     6
5       7     5
7       9     2
8      10     1
9      11     1
[ 3  5  6  4  2  8  7  9 10 11]
[['Others'], ['Others', 'Others'], ['Outdoor'], ['Others', 'Others'], ['Others', 'Outdoor'], ['Others'], ['Outdoor']]
0.9050023555755615

In [12]:
result_df

   user_id     dominant_sequence   time (s)
0      187              [Others]   1.314002
1      384                    []  11.438999
2      448                    []   0.199000
3      819              [Others]   0.415029
4      280            [Eateries]   0.054999
5      281                    []   0.106999
6      742              [Others]   0.373035
7      207                    []   0.047000
8      184                    []   0.070990
9      962            [Eateries]   0.017995
10     593                    []   0.062000
11     652                    []   0.072000
12     178               [Shops]   0.049000
13     689            [Eateries]   0.046004
14     706  [Eateries, Eateries]   4.742049
15     951                    []   0.055999
16     527                    []   0.274038
17     943                    []   0.079000
18     990            [Services]  10.645000
19     120                    []   0.064035
20     974                    []   0.109030
21     439                    []   0.106999
22     396             [Outdoor]   0.054998
23     768                    []   0.171028
24     440                    []   0.099999
25     445            [Eateries]   0.346960
26     443                    []   0.111999
27     371              [Others]   0.651000
28     354              [Others]   0.119004
29     315                    []   3.312980
30     458                    []   0.508004
31     185            [Eateries]   1.665967
32      84                    []   0.968998
33     293                    []   0.905002

In [85]:
# full_result_df = compute_LCS_for_users(subsequence_all_df, frequent_users_df)

187
2.4469873905181885

384
7874.523446083069

448
0.839989185333252

819
1.2560040950775146

280
1.17799711227417

281
0.3789703845977783

742
1.1339938640594482

207
0.05400514602661133

184
0.6480062007904053

962
0.011994361877441406

593
0.09199166297912598

652
0.049001216888427734

178
7.228996992111206

689
0.03799891471862793

706
5658.0927748680115

951
0.06699728965759277

527
5.999067544937134

943
0.16699981689453125

990
448.3742334842682

120
0.19499993324279785

974
1.9419965744018555

439
0.38100218772888184

396
0.17297053337097168

768
3.8649983406066895

440
0.7289927005767822

445
1.1159932613372803

443
0.7190287113189697

371
896.0312037467957

354
10.521871566772461

315

KeyboardInterrupt:

In [108]:
user_ids = [187, 819, 280, 742, 962, 178, 689, 706, 990, 396, 445, 371, 354, 185]
full_result_df = pd.DataFrame(columns=['user_id', 'dominant_sequence', 'time (s)'])

for user_id in user_ids:
    print(user_id)
    user_records_df = subsequence_all_df[(subsequence_all_df.user_id == user_id)]
    LCS, elapsed_time = compute_dominant_sequence(user_records_df)
    new_row = {'user_id': user_id, 'dominant_sequence': LCS, 'time (s)': elapsed_time}
    full_result_df = full_result_df.append(new_row, ignore_index=True)
    print()

187
[['Others'], ['Others'], ['Others', 'Others', 'Others'], ['Others', 'Others'], ['Others', 'Others', 'Eateries', 'Others'], ['Others', 'Others'], ['Others'], ['Others', 'Others', 'Eateries'], ['Others', 'Others', 'Others']]
2.5120341777801514

819
[['Outdoor', 'Others'], ['Others', 'Others', 'Others'], ['Others'], ['Others'], ['Others', 'Others', 'Others'], ['Others'], ['Others'], ['Others', 'Others'], ['Others', 'Others']]
0.8380346298217773

280
[['Eateries', 'Eateries', 'Eateries'], ['Eateries'], ['Eateries'], ['Eateries', 'Eateries', 'Eateries', 'Eateries'], ['Eateries'], ['Eateries', 'Eateries'], ['Eateries', 'Eateries', 'Eateries', 'Eateries']]
0.8800337314605713

742
[['Others'], ['Others'], ['Others'], ['Others'], ['Others'], ['Others'], ['Others', 'Others'], ['Others'], ['Others'], ['Others'], ['Others'], ['Others']]
0.8250410556793213

962
[['Others'], ['Others'], ['Others']]
0.008000850677490234

178
[['Shops'], ['Shops'], ['Others'], ['Shops', 'Eateries', 'Eateries'], ['Shops', 'Others', 'Eateries', 'Eateries'], ['Shops'], ['Eateries', 'Eateries', 'Eateries', 'Others'], ['Eateries', 'Eateries'], ['Eateries']]
5.1450276374816895

689
[['Services'], ['Services'], ['Eateries'], ['Eateries']]
0.021033048629760742

706
[['Eateries', 'Eateries'], ['Eateries', 'Eateries', 'Eateries', 'Eateries', 'Eateries', 'Eateries'], ['Eateries', 'Others'], ['Shops', 'Eateries', 'Eateries', 'Shops', 'Eateries'], ['Shops', 'Shops'], ['Eateries', 'Eateries', 'Eateries', 'Others', 'Eateries'], ['Eateries', 'Eateries', 'Eateries', 'Eateries', 'Eateries'], ['Others', 'Eateries'], ['Others', 'Eateries', 'Eateries', 'Shops'], ['Eateries'], ['Eateries', 'Eateries', 'Shops', 'Eateries']]
5013.8505918979645

990
[['Services'], ['Services', 'Services', 'Services', 'Services'], ['Services'], ['Services', 'Services', 'Services', 'Services'], ['Services'], ['Services', 'Services'], ['Services'], ['Services'], ['Services', 'Services'], ['Services'], ['Services', 'Services'], ['Services', 'Services', 'Services'], ['Services', 'Services'], ['Services', 'Others']]
374.3005928993225

396
[['Outdoor'], ['Outdoor'], ['Outdoor'], ['Outdoor'], ['Outdoor'], ['Outdoor'], ['Outdoor'], ['Outdoor'], ['Outdoor'], ['Outdoor'], ['Outdoor'], ['Outdoor', 'Outdoor']]
0.17502164840698242

445
[['Services', 'Eateries'], ['Eateries'], ['Eateries'], ['Eateries'], ['Eateries'], ['Eateries', 'Eateries'], ['Eateries', 'Eateries'], ['Eateries'], ['Eateries', 'Eateries', 'Services', 'Eateries', 'Eateries', 'Eateries']]
1.0069539546966553

371
[['Others', 'Others'], ['Others', 'Others', 'Others', 'Others'], ['Others', 'Others'], ['Others', 'Others', 'Others'], ['Others'], ['Others'], ['Others', 'Others', 'Shops', 'Others'], ['Others', 'Others', 'Others', 'Others'], ['Others'], ['Others', 'Others', 'Others', 'Others', 'Others'], ['Others'], ['Others'], ['Shops'], ['Outdoor']]
953.0824496746063

354
[['Others'], ['Shops', 'Eateries', 'Eateries', 'Others'], ['Others'], ['Others'], ['Others'], ['Others'], ['Others'], ['Others'], ['Others', 'Others'], ['Others', 'Others'], ['Others', 'Eateries'], ['Others'], ['Eateries']]
11.41700267791748

185
[['Eateries'], ['Eateries', 'Eateries'], ['Eateries', 'Eateries'], ['Eateries'], ['Eateries', 'Services'], ['Eateries', 'Eateries', 'Others'], ['Services', 'Eateries'], ['Eateries'], ['Services'], ['Outdoor'], ['Eateries'], ['Eateries'], ['Eateries'], ['Others', 'Eateries']]
28.019041299819946

In [109]:
full_result_df

   user_id dominant_sequence     time (s)
0      187          [Others]     2.512034
1      819          [Others]     0.838035
2      280        [Eateries]     0.880034
3      742          [Others]     0.825041
4      962          [Others]     0.008001
5      178                []     5.145028
6      689                []     0.021033
7      706                []  5013.850592
8      990        [Services]   374.300593
9      396         [Outdoor]     0.175022
10     445        [Eateries]     1.006954
11     371                []   953.082450
12     354                []    11.417003
13     185                []    28.019041

In [48]:
user_id = 448
user_record_df = subsequence_all_df[subsequence_all_df.user_id == user_id]
user_record_df['categories'] = user_record_df['category_set'].apply(lambda x: list(pd.unique(x)))

print(user_record_df.categories)

categories = {}
for record in user_record_df.categories:
    for x in record:
        if x not in categories.keys():
            categories[x] = 1
        else:
            categories[x] = categories[x] + 1
            
print(categories)

1162            [Eateries, Shops, Others, Education]
1163                                      [Eateries]
1164                      [Shops, Outdoor, Services]
1165             [Shops, Eateries, Others, Services]
1166             [Services, Shops, Others, Eateries]
1167         [Eateries, Others, Services, Education]
1168                        [Others, Shops, Fitness]
1169                               [Eateries, Shops]
1170                       [Shops, Others, Eateries]
1171                       [Shops, Others, Eateries]
1172                                         [Shops]
1173                                     [Education]
1174                        [Shops, Others, Outdoor]
1175             [Others, Shops, Services, Eateries]
1176                            [Services, Eateries]
1177              [Outdoor, Others, Shops, Services]
1178                                     [Education]
1179                                 [Shops, Others]
1180                        [Outdoor, Shops, Others]
1181    [Others, Shops, Outdoor, Eateries, Services]
1182                                      [Services]
1183             [Others, Shops, Education, Outdoor]
1184                     [Outdoor, Others, Eateries]
1185             [Shops, Others, Outdoor, Education]
1186                                 [Shops, Others]
1187              [Services, Outdoor, Others, Shops]
1188                              [Shops, Education]
1189                   [Others, Education, Services]
1190                                        [Others]
1191                                        [Others]
1192                      [Shops, Education, Others]
1193             [Shops, Others, Outdoor, Education]
1194            [Shops, Others, Education, Eateries]
1195    [Others, Eateries, Services, Shops, Outdoor]
1196                                 [Others, Shops]
1197                               [Services, Shops]
1198                                 [Others, Shops]
1199                      [Others, Shops, Education]
1200                       [Services, Shops, Others]
1201                                        [Others]
1202                                        [Others]
1203                                         [Shops]
1204                              [Eateries, Others]
1205                                        [Others]
1206                              [Education, Shops]
1207                                 [Shops, Others]
1208                                         [Shops]
1209                                         [Shops]
1210                    [Services, Others, Eateries]
1211                                 [Shops, Others]
Name: categories, dtype: object
{'Eateries': 16, 'Shops': 35, 'Others': 36, 'Education': 13, 'Outdoor': 11, 'Services': 15, 'Fitness': 1}

<ipython-input-48-af2ae68ea5b6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_record_df['categories'] = user_record_df['category_set'].apply(lambda x: list(pd.unique(x)))

In [18]:
def compute_general_venue_categories_count(result_df, df):
    print(result_df.user_id)
    user_record_df = df[df.user_id == result_df.user_id]
    user_record_df['categories'] = user_record_df['category_set'].apply(lambda x: list(pd.unique(x)))

    print(user_record_df.categories)

    categories = {}
    for record in user_record_df.categories:
        for x in record:
            if x not in categories.keys():
                categories[x] = 1
            else:
                categories[x] = categories[x] + 1

    print(categories)
    return categories

In [19]:
result_df['general_venue_categories'] = result_df.apply(compute_general_venue_categories_count, axis=1, args=[subsequence_all_df])

187
312                                 [Others]
313                                 [Others]
314                                 [Others]
315                                  [Shops]
316                       [Others, Eateries]
317                                 [Others]
318                       [Others, Eateries]
319                       [Others, Eateries]
320                          [Others, Shops]
321                       [Others, Eateries]
322                       [Others, Eateries]
323                       [Others, Eateries]
324                       [Others, Eateries]
325                       [Others, Eateries]
326                       [Others, Eateries]
327                           [Others, Arts]
328                  [Others, Arts, Outdoor]
329                        [Eateries, Shops]
330             [Others, Eateries, Services]
331                    [Eateries, Education]
332                       [Others, Eateries]
333                       [Others, Eateries]
334                       [Others, Eateries]
335                [Services, Shops, Others]
336       [Others, Eateries, Outdoor, Shops]
337                              [Education]
338                               [Eateries]
339                       [Others, Eateries]
340    [Others, Eateries, Outdoor, Services]
341                       [Others, Eateries]
342                       [Others, Eateries]
343                [Others, Eateries, Shops]
344                                 [Others]
345                          [Shops, Others]
346                       [Others, Eateries]
347                       [Others, Eateries]
348             [Eateries, Others, Services]
349                       [Others, Eateries]
350                       [Others, Eateries]
351                       [Others, Eateries]
352              [Others, Eateries, Outdoor]
353              [Others, Eateries, Outdoor]
354                       [Others, Eateries]
355                       [Others, Eateries]
356                                 [Others]
357                       [Others, Eateries]
358                       [Others, Eateries]
359                               [Eateries]
360                                 [Others]
361                       [Others, Eateries]
Name: categories, dtype: object
{'Others': 44, 'Shops': 7, 'Eateries': 36, 'Arts': 2, 'Outdoor': 5, 'Services': 4, 'Education': 2}
384
797                                   [Others, Eateries]
798                  [Eateries, Shops, Others, Services]
799    [Eateries, Others, Services, Entertainment, Sh...
800    [Eateries, Shops, Others, Education, Services,...
801                   [Eateries, Others, Shops, Outdoor]
802       [Eateries, Services, Fitness, Others, Outdoor]
803                  [Others, Eateries, Services, Shops]
804         [Eateries, Others, Services, Fitness, Shops]
805                            [Others, Shops, Eateries]
806                  [Others, Eateries, Services, Shops]
807         [Shops, Eateries, Services, Others, Fitness]
808                   [Eateries, Others, Shops, Fitness]
809         [Others, Eateries, Fitness, Services, Shops]
810                      [Others, Eateries, Shops, Arts]
811                            [Others, Eateries, Shops]
812                          [Fitness, Eateries, Others]
813                                   [Others, Eateries]
814                                             [Others]
815        [Others, Education, Eateries, Shops, Outdoor]
816                                   [Eateries, Others]
817    [Others, Shops, Fitness, Eateries, Services, A...
818                  [Eateries, Others, Services, Shops]
819                   [Arts, Eateries, Others, Services]
820                         [Eateries, Others, Services]
821                 [Shops, Education, Eateries, Others]
822         [Services, Others, Eateries, Fitness, Shops]
823       [Shops, Entertainment, Arts, Others, Eateries]
824    [Others, Services, Shops, Fitness, Eateries, O...
825                                              [Shops]
826                        [Fitness, Eateries, Services]
827         [Shops, Services, Eateries, Fitness, Others]
828                [Eateries, Others, Fitness, Services]
829                                             [Others]
830                  [Eateries, Others, Services, Shops]
831                         [Eateries, Others, Services]
832                         [Others, Eateries, Services]
833                  [Others, Eateries, Services, Shops]
834         [Shops, Fitness, Services, Eateries, Others]
835                [Eateries, Others, Services, Outdoor]
836                         [Others, Eateries, Services]
837         [Eateries, Shops, Fitness, Services, Others]
838                [Fitness, Others, Eateries, Services]
839                  [Others, Shops, Eateries, Services]
840         [Services, Shops, Eateries, Others, Fitness]
841                                 [Eateries, Services]
842                   [Shops, Eateries, Others, Fitness]
843                  [Shops, Eateries, Others, Services]
844                                   [Others, Eateries]
845                                           [Eateries]
846                         [Eateries, Services, Others]
Name: categories, dtype: object
{'Others': 46, 'Eateries': 47, 'Shops': 30, 'Services': 32, 'Entertainment': 2, 'Education': 3, 'Arts': 5, 'Outdoor': 5, 'Fitness': 17}
448
1162            [Eateries, Shops, Others, Education]
1163                                      [Eateries]
1164                      [Shops, Outdoor, Services]
1165             [Shops, Eateries, Others, Services]
1166             [Services, Shops, Others, Eateries]
1167         [Eateries, Others, Services, Education]
1168                        [Others, Shops, Fitness]
1169                               [Eateries, Shops]
1170                       [Shops, Others, Eateries]
1171                       [Shops, Others, Eateries]
1172                                         [Shops]
1173                                     [Education]
1174                        [Shops, Others, Outdoor]
1175             [Others, Shops, Services, Eateries]
1176                            [Services, Eateries]
1177              [Outdoor, Others, Shops, Services]
1178                                     [Education]
1179                                 [Shops, Others]
1180                        [Outdoor, Shops, Others]
1181    [Others, Shops, Outdoor, Eateries, Services]
1182                                      [Services]
1183             [Others, Shops, Education, Outdoor]
1184                     [Outdoor, Others, Eateries]
1185             [Shops, Others, Outdoor, Education]
1186                                 [Shops, Others]
1187              [Services, Outdoor, Others, Shops]
1188                              [Shops, Education]
1189                   [Others, Education, Services]
1190                                        [Others]
1191                                        [Others]
1192                      [Shops, Education, Others]
1193             [Shops, Others, Outdoor, Education]
1194            [Shops, Others, Education, Eateries]
1195    [Others, Eateries, Services, Shops, Outdoor]
1196                                 [Others, Shops]
1197                               [Services, Shops]
1198                                 [Others, Shops]
1199                      [Others, Shops, Education]
1200                       [Services, Shops, Others]
1201                                        [Others]
1202                                        [Others]
1203                                         [Shops]
1204                              [Eateries, Others]
1205                                        [Others]
1206                              [Education, Shops]
1207                                 [Shops, Others]
1208                                         [Shops]
1209                                         [Shops]
1210                    [Services, Others, Eateries]
1211                                 [Shops, Others]
Name: categories, dtype: object
{'Eateries': 16, 'Shops': 35, 'Others': 36, 'Education': 13, 'Outdoor': 11, 'Services': 15, 'Fitness': 1}
819
1674                            [Eateries]
1675                     [Outdoor, Others]
1676                              [Others]
1677                     [Others, Outdoor]
1678                     [Others, Outdoor]
1679                     [Others, Outdoor]
1680    [Others, Shops, Services, Outdoor]
1681           [Outdoor, Others, Eateries]
1682                     [Others, Outdoor]
1683                     [Others, Outdoor]
1684                     [Others, Outdoor]
1685                              [Others]
1686                              [Others]
1687                     [Others, Outdoor]
1688                     [Others, Outdoor]
1689                     [Outdoor, Others]
1690              [Others, Shops, Outdoor]
1691                     [Outdoor, Others]
1692                             [Fitness]
1693                     [Others, Outdoor]
1694                              [Others]
1695           [Outdoor, Others, Eateries]
1696           [Eateries, Outdoor, Others]
1697                     [Outdoor, Others]
1698                     [Others, Outdoor]
1699                     [Others, Outdoor]
1700                     [Others, Outdoor]
1701                    [Eateries, Others]
1702                              [Others]
1703              [Others, Shops, Outdoor]
1704    [Others, Shops, Eateries, Outdoor]
1705                     [Others, Outdoor]
1706                     [Outdoor, Others]
1707                               [Shops]
1708                   [Eateries, Outdoor]
1709                              [Others]
1710                     [Outdoor, Others]
1711              [Shops, Others, Outdoor]
1712           [Others, Eateries, Outdoor]
1713                    [Eateries, Others]
1714                              [Others]
1715                     [Outdoor, Others]
1716            [Shops, Services, Outdoor]
1717                              [Others]
1718                              [Others]
1719                    [Others, Eateries]
1720           [Others, Eateries, Outdoor]
1721                     [Others, Outdoor]
1722                              [Others]
1723                     [Others, Outdoor]
1724              [Others, Shops, Outdoor]
Name: categories, dtype: object
{'Eateries': 11, 'Outdoor': 35, 'Others': 46, 'Shops': 8, 'Services': 2, 'Fitness': 1}
280
414                                        [Eateries]
415                                 [Eateries, Shops]
416               [Services, Eateries, Others, Shops]
417                                [Eateries, Others]
418                                 [Shops, Eateries]
419                                        [Eateries]
420                                 [Eateries, Shops]
421                                        [Eateries]
422                                        [Eateries]
423                                 [Services, Shops]
424                                        [Eateries]
425                             [Eateries, Education]
426                                        [Eateries]
427                                        [Eateries]
428                                        [Eateries]
429    [Eateries, Others, Services, Shops, Education]
430                             [Eateries, Education]
431                                        [Eateries]
432                                        [Eateries]
433                                 [Eateries, Shops]
434                               [Eateries, Outdoor]
435                                        [Eateries]
436                                        [Eateries]
437    [Others, Services, Shops, Education, Eateries]
438          [Eateries, Others, Shops, Entertainment]
439                      [Eateries, Education, Shops]
440                                        [Eateries]
441                                        [Eateries]
442    [Services, Shops, Education, Eateries, Others]
443                                        [Eateries]
444                      [Eateries, Shops, Education]
445                                 [Eateries, Shops]
446                                 [Eateries, Shops]
447              [Shops, Others, Services, Education]
448                             [Eateries, Education]
449                                        [Eateries]
450                                          [Others]
451                        [Eateries, Shops, Fitness]
452                             [Education, Eateries]
453                                        [Eateries]
454                                [Eateries, Others]
455                                        [Eateries]
456                                 [Services, Shops]
457                                        [Eateries]
458                                 [Eateries, Shops]
459                                        [Eateries]
460                                   [Shops, Others]
461                                   [Others, Shops]
462                                        [Eateries]
463                                        [Eateries]
464                                 [Shops, Services]
Name: categories, dtype: object
{'Eateries': 44, 'Shops': 21, 'Services': 8, 'Others': 11, 'Education': 10, 'Outdoor': 1, 'Entertainment': 1, 'Fitness': 1}
281
465                           [Shops, Eateries, Outdoor]
466    [Religious Places, Eateries, Others, Education...
467                                  [Eateries, Fitness]
468                           [Eateries, Shops, Outdoor]
469                                [Eateries, Education]
470         [Eateries, Fitness, Religious Places, Shops]
471                                   [Religious Places]
472        [Shops, Others, Eateries, Fitness, Education]
473                                     [Shops, Outdoor]
474                  [Religious Places, Eateries, Shops]
475                            [Shops, Religious Places]
476                         [Shops, Education, Eateries]
477                                              [Shops]
478                  [Shops, Eateries, Religious Places]
479                 [Education, Eateries, Others, Shops]
480                            [Others, Eateries, Shops]
481                                          [Education]
482                                   [Shops, Education]
483                                          [Education]
484       [Eateries, Religious Places, Shops, Education]
485                  [Eateries, Shops, Religious Places]
486                                    [Shops, Eateries]
487                         [Shops, Education, Eateries]
488                                    [Shops, Eateries]
489                  [Shops, Eateries, Religious Places]
490                           [Religious Places, Others]
491       [Eateries, Education, Shops, Religious Places]
492                               [Shops, Entertainment]
493                     [Entertainment, Eateries, Shops]
494                                    [Eateries, Shops]
495                [Education, Shops, Eateries, Outdoor]
496                 [Shops, Education, Others, Services]
497                          [Shops, Education, Outdoor]
498                                           [Eateries]
499                                   [Religious Places]
500                                           [Eateries]
501                                              [Shops]
502                  [Religious Places, Eateries, Shops]
503          [Education, Eateries, Entertainment, Shops]
504                                   [Shops, Education]
505                                           [Eateries]
506                                              [Shops]
507                                           [Eateries]
508                                   [Shops, Education]
509                                           [Eateries]
510                                    [Shops, Eateries]
511                                              [Shops]
512                 [Education, Shops, Religious Places]
513                                     [Shops, Fitness]
514                          [Education, Fitness, Shops]
515                                               [Arts]
Name: categories, dtype: object
{'Shops': 38, 'Eateries': 30, 'Outdoor': 5, 'Religious Places': 14, 'Others': 6, 'Education': 19, 'Fitness': 6, 'Entertainment': 3, 'Services': 1, 'Arts': 1}
742
1561                                             [Others]
1562                                              [Shops]
1563             [Entertainment, Shops, Others, Eateries]
1564                                    [Others, Outdoor]
1565                                   [Others, Eateries]
1566    [Others, Shops, Eateries, Entertainment, Fitness]
1567                                             [Others]
1568                                             [Others]
1569                                             [Others]
1570     [Eateries, Others, Outdoor, Entertainment, Arts]
1571                                    [Others, Outdoor]
1572                                      [Others, Shops]
1573                             [Shops, Others, Fitness]
1574                                             [Others]
1575             [Entertainment, Shops, Eateries, Others]
1576                             [Others, Shops, Outdoor]
1577                  [Eateries, Others, Services, Shops]
1578                            [Shops, Others, Eateries]
1579              [Outdoor, Entertainment, Shops, Others]
1580                             [Others, Fitness, Shops]
1581                          [Others, Outdoor, Eateries]
1582    [Shops, Others, Outdoor, Entertainment, Eateries]
1583                                    [Others, Outdoor]
1584                                             [Others]
1585                                             [Others]
1586                                      [Others, Shops]
1587                    [Others, Outdoor, Fitness, Shops]
1588                                      [Others, Shops]
1589                                      [Others, Shops]
1590                             [Others, Outdoor, Shops]
1591                                             [Others]
1592    [Entertainment, Fitness, Others, Shops, Eateries]
1593                                             [Others]
1594                     [Others, Entertainment, Outdoor]
1595     [Outdoor, Fitness, Others, Entertainment, Shops]
1596                             [Others, Fitness, Shops]
1597            [Entertainment, Others, Fitness, Outdoor]
1598                              [Others, Entertainment]
1599                                    [Others, Outdoor]
1600                                      [Others, Shops]
1601                                             [Others]
1602                                             [Others]
1603                   [Others, Fitness, Shops, Eateries]
1604                              [Others, Entertainment]
1605                                    [Others, Outdoor]
1606                   [Others, Shops, Services, Outdoor]
1607                                    [Others, Fitness]
1608                              [Entertainment, Others]
1609              [Others, Fitness, Shops, Entertainment]
1610                                    [Others, Outdoor]
1611                    [Others, Fitness, Shops, Outdoor]
1612                             [Others, Shops, Fitness]
Name: categories, dtype: object
{'Others': 51, 'Shops': 26, 'Entertainment': 14, 'Eateries': 11, 'Outdoor': 18, 'Fitness': 13, 'Arts': 1, 'Services': 2}
207
362                      [Others]
363               [Shops, Others]
364                       [Shops]
365               [Shops, Others]
366               [Others, Shops]
367               [Shops, Others]
368                       [Shops]
369                      [Others]

1286                             [Others, Shops, Outdoor]
1287                                            [Outdoor]
1288                                            [Outdoor]
1289                   [Others, Eateries, Shops, Outdoor]
1290                                            [Outdoor]
1291                                           [Services]
1292                          [Others, Eateries, Outdoor]
1293                                             [Others]
1294                   [Others, Eateries, Outdoor, Shops]
1295                           [Outdoor, Shops, Eateries]
1296                                   [Others, Eateries]
1297                                   [Others, Eateries]
1298                          [Others, Outdoor, Eateries]
1299                                    [Others, Outdoor]
1300                          [Eateries, Shops, Services]
1301                          [Others, Eateries, Outdoor]
1302                                   [Others, Eateries]
1303                                      [Others, Shops]
1304                          [Others, Outdoor, Eateries]
1305         [Others, Eateries, Outdoor, Services, Shops]
1306                                   [Others, Eateries]
1307                                      [Shops, Others]
1308         [Others, Outdoor, Services, Eateries, Shops]
1309                             [Others, Outdoor, Shops]
1310                   [Shops, Eateries, Others, Outdoor]
1311                                           [Eateries]
1312                                           [Eateries]
1313                                    [Services, Shops]
1314                [Outdoor, Eateries, Others, Services]
1315                   [Others, Shops, Eateries, Outdoor]
1316                            [Others, Eateries, Shops]
1317                 [Eateries, Outdoor, Services, Shops]
1318                 [Outdoor, Services, Eateries, Shops]
1319                   [Eateries, Outdoor, Others, Shops]
1320                   [Others, Outdoor, Eateries, Shops]
1321         [Outdoor, Services, Shops, Others, Eateries]
1322                   [Shops, Others, Outdoor, Eateries]
1323                            [Others, Eateries, Shops]
1324                 [Eateries, Outdoor, Shops, Services]
1325                   [Others, Eateries, Shops, Outdoor]
1326         [Eateries, Others, Outdoor, Shops, Services]
1327         [Shops, Eateries, Others, Outdoor, Services]
1328         [Others, Outdoor, Shops, Services, Eateries]
1329                             [Others, Outdoor, Shops]
1330                   [Others, Outdoor, Shops, Eateries]
1331                                    [Others, Outdoor]
1332    [Outdoor, Others, Shops, Services, Entertainment]
1333                                  [Eateries, Outdoor]
1334                                   [Others, Eateries]
1335         [Others, Outdoor, Services, Shops, Eateries]
1336                                            [Outdoor]
1337                                     [Outdoor, Shops]
1338         [Eateries, Others, Outdoor, Shops, Services]
1339                                 [Education, Outdoor]
1340        [Education, Outdoor, Others, Eateries, Shops]
1341                   [Eateries, Others, Outdoor, Shops]
1342                             [Shops, Others, Outdoor]
1343                          [Others, Eateries, Outdoor]
Name: categories, dtype: object
{'Others': 42, 'Shops': 35, 'Outdoor': 43, 'Eateries': 40, 'Services': 16, 'Entertainment': 1, 'Education': 2}
943
1725                        [Others, Arts]
1726                    [Eateries, Others]
1727                              [Others]
1728                    [Eateries, Others]
1729                              [Others]
1730          [Exhibitions, Others, Shops]
1731                              [Others]
1732    [Fitness, Others, Services, Shops]
1733                            [Eateries]
1734                    [Eateries, Others]
1735                              [Others]
1736                              [Others]
1737           [Others, Outdoor, Eateries]
1738                    [Others, Eateries]
1739                               [Shops]
1740                            [Eateries]
1741                              [Others]
1742                     [Shops, Eateries]
1743             [Others, Shops, Eateries]
1744                               [Shops]
1745                              [Others]
1746                              [Others]
1747                              [Others]
1748                    [Others, Eateries]
1749                    [Others, Services]
1750                              [Others]
1751                               [Shops]
1752                              [Others]
1753                     [Others, Outdoor]
1754              [Eateries, Others, Arts]
1755             [Others, Eateries, Shops]
1756                              [Others]
1757                              [Others]
1758                       [Others, Shops]
1759                    [Services, Others]
1760                              [Others]
1761                    [Others, Eateries]
1762                    [Others, Eateries]
1763                     [Eateries, Shops]
1764                    [Eateries, Others]
1765                       [Others, Shops]
1766                    [Others, Eateries]
1767                            [Eateries]
1768                    [Eateries, Others]
1769                    [Eateries, Others]
1770                    [Eateries, Others]
1771                              [Others]
1772              [Eateries, Others, Arts]
1773                    [Eateries, Others]
1774                              [Others]
1775                            [Services]
1776                               [Shops]
1777                   [Eateries, Outdoor]
1778           [Eateries, Outdoor, Others]
1779                              [Others]
1780                      [Arts, Eateries]
1781                  [Services, Eateries]
1782                              [Others]
Name: categories, dtype: object
{'Others': 45, 'Arts': 4, 'Eateries': 27, 'Exhibitions': 1, 'Shops': 12, 'Fitness': 1, 'Services': 5, 'Outdoor': 4}
990
1949              [Services]
1950      [Services, Others]
1951      [Services, Others]
1952      [Services, Others]
1953      [Services, Others]
1954      [Services, Others]
1955      [Services, Others]
1956              [Services]
1957              [Services]
1958              [Services]
1959              [Services]
1960              [Services]
1961              [Services]
1962      [Services, Others]
1963              [Services]
1964      [Services, Others]
1965              [Services]
1966              [Services]
1967      [Services, Others]
1968      [Services, Others]
1969      [Services, Others]
1970              [Services]
1971      [Services, Others]
1972      [Services, Others]
1973              [Services]
1974              [Services]
1975      [Services, Others]
1976      [Services, Others]
1977      [Services, Others]
1978      [Services, Others]
1979      [Others, Services]
1980      [Services, Others]
1981      [Others, Services]
1982              [Services]
1983      [Others, Services]
1984              [Services]
1985      [Services, Others]
1986              [Services]
1987              [Services]
1988      [Services, Others]
1989              [Services]
1990      [Services, Others]
1991      [Services, Others]
1992              [Services]
1993      [Services, Others]
1994              [Services]
1995      [Services, Others]
1996              [Services]
1997      [Services, Others]
1998      [Services, Others]
1999      [Services, Others]
2000    [Services, Eateries]
2001              [Services]
2002      [Services, Others]
2003              [Services]
2004                [Others]
2005      [Services, Others]
2006      [Services, Others]
Name: categories, dtype: object
{'Services': 57, 'Others': 34, 'Eateries': 1}
120
74                                       [Eateries]
75                                  [Shops, Others]
76                                         [Others]
77        [Others, Entertainment, Religious Places]
78                               [Others, Eateries]
79                          [Entertainment, Others]
80                                   [Others, Arts]
81                               [Eateries, Others]
82                        [Eateries, Shops, Others]
83                        [Eateries, Others, Shops]
84                                       [Eateries]
85                                         [Others]
86                                         [Others]
87                               [Others, Eateries]
88                               [Others, Services]
89                        [Others, Eateries, Shops]
90                               [Others, Eateries]
91                                         [Others]
92                        [Shops, Others, Eateries]
93                                         [Others]
94                                         [Others]
95                               [Others, Eateries]
96                                  [Shops, Others]
97                                         [Others]
98                                         [Others]
99                               [Others, Eateries]
100                                        [Others]
101             [Others, Eateries, Services, Shops]
102                    [Others, Eateries, Services]
103                              [Others, Eateries]
104                              [Eateries, Others]
105                               [Others, Outdoor]
106                [Eateries, Shops, Entertainment]
107    [Eateries, Outdoor, Others, Shops, Services]
108                              [Others, Eateries]
109                                        [Others]
110                              [Services, Others]
111                                        [Others]
112                                        [Others]
113                    [Eateries, Others, Services]
114                                      [Eateries]
115                                        [Others]
116                                        [Others]
117                                 [Others, Shops]
118                                        [Others]
119                              [Others, Eateries]
120                              [Eateries, Others]
121                      [Shops, Services, Outdoor]
122                                        [Others]
123                                      [Eateries]
124                              [Eateries, Others]
125                                        [Others]
126                                        [Others]
127                       [Others, Shops, Eateries]
128                                        [Others]
129                       [Others, Eateries, Shops]
130                              [Others, Eateries]
131                              [Eateries, Others]
Name: categories, dtype: object
{'Eateries': 29, 'Shops': 13, 'Others': 52, 'Entertainment': 3, 'Religious Places': 1, 'Arts': 1, 'Services': 7, 'Outdoor': 3}
974
1891                                            [Outdoor]
1892                                             [Others]
1893                             [Others, Shops, Outdoor]
1894                                    [Others, Outdoor]
1895                                             [Others]
1896                                   [Eateries, Others]
1897                                   [Outdoor, Fitness]
1898                           [Others, Outdoor, Fitness]
1899                    [Shops, Others, Outdoor, Fitness]
1900                             [Others, Shops, Outdoor]
1901                                    [Others, Outdoor]
1902                                   [Outdoor, Fitness]
1903                   [Others, Outdoor, Eateries, Shops]
1904                                    [Others, Outdoor]
1905                             [Others, Shops, Outdoor]
1906                                             [Others]
1907                                      [Entertainment]
1908                             [Shops, Others, Outdoor]
1909                     [Outdoor, Others, Entertainment]
1910                                    [Others, Outdoor]
1911                                    [Others, Outdoor]
1912                           [Others, Outdoor, Fitness]
1913                           [Others, Outdoor, Fitness]
1914                                             [Others]
1915                              [Others, Entertainment]
1916                                      [Entertainment]
1917                              [Entertainment, Others]
1918                     [Others, Outdoor, Entertainment]
1919    [Entertainment, Outdoor, Shops, Others, Eateries]
1920                                    [Others, Outdoor]
1921                                             [Others]
1922                           [Others, Outdoor, Fitness]
1923                             [Others, Shops, Outdoor]
1924                             [Others, Shops, Outdoor]
1925                                    [Others, Outdoor]
1926                                             [Others]
1927                                            [Outdoor]
1928                           [Others, Outdoor, Fitness]
1929     [Fitness, Shops, Others, Entertainment, Outdoor]
1930                                    [Others, Outdoor]
1931                                             [Others]
1932                       [Entertainment, Others, Shops]
1933                 [Fitness, Outdoor, Eateries, Others]
1934                                    [Outdoor, Others]
1935                                    [Outdoor, Others]
1936                                            [Outdoor]
1937                                            [Outdoor]
1938                                    [Others, Outdoor]
1939                                             [Others]
1940                       [Outdoor, Arts, Shops, Others]
1941            [Outdoor, Entertainment, Others, Fitness]
1942                          [Others, Eateries, Outdoor]
1943                   [Entertainment, Outdoor, Eateries]
1944                                            [Outdoor]
1945                                      [Entertainment]
1946                             [Shops, Others, Outdoor]
1947                                             [Others]
1948                                    [Others, Outdoor]
Name: categories, dtype: object
{'Outdoor': 42, 'Others': 47, 'Shops': 13, 'Eateries': 6, 'Fitness': 11, 'Entertainment': 12, 'Arts': 1}
439
908                                    [Services, Shops]
909                           [Outdoor, Services, Shops]
910         [Eateries, Outdoor, Shops, Services, Others]
911    [Eateries, Outdoor, Religious Places, Shops, O...
912                             [Outdoor, Shops, Others]
913                                           [Eateries]
914                   [Others, Outdoor, Shops, Eateries]
915                                             [Others]
916                                           [Eateries]
917                                              [Shops]
918                            [Others, Eateries, Shops]
919                            [Others, Shops, Eateries]
920                                              [Shops]
921                          [Others, Eateries, Outdoor]
922                                    [Shops, Eateries]
923      [Shops, Exhibitions, Others, Outdoor, Eateries]
924                            [Others, Eateries, Shops]
925                                           [Eateries]
926                [Others, Eateries, Outdoor, Services]
927                                             [Others]
928                [Others, Eateries, Services, Outdoor]
929                                             [Others]
930                                             [Others]
931                                    [Shops, Eateries]
932                          [Eateries, Outdoor, Others]
933                                             [Others]
934                   [Outdoor, Services, Shops, Others]
935                            [Others, Shops, Eateries]
936                                             [Others]
937                        [Outdoor, Services, Eateries]
938                                   [Others, Eateries]
939                                  [Eateries, Outdoor]
940                                             [Others]
941                                             [Others]
942         [Others, Outdoor, Shops, Services, Eateries]
943    [Eateries, Shops, Religious Places, Services, ...
944                                      [Others, Shops]
945                                      [Others, Shops]
946                                             [Others]
947                                             [Others]
948                                             [Others]
949                                             [Others]
950                            [Others, Shops, Eateries]
951                                             [Others]
952                 [Outdoor, Services, Shops, Eateries]
953                                     [Outdoor, Shops]
954         [Eateries, Outdoor, Religious Places, Shops]
955                                             [Others]
956                   [Eateries, Outdoor, Shops, Others]
957                                   [Others, Services]
958    [Others, Eateries, Outdoor, Shops, Religious P...
959                   [Outdoor, Others, Shops, Eateries]
960                                             [Others]
961    [Others, Outdoor, Religious Places, Shops, Eat...
962                                             [Others]
963    [Others, Eateries, Outdoor, Religious Places, ...
964    [Others, Eateries, Outdoor, Religious Places, ...
965                                             [Others]
966                                   [Others, Eateries]
Name: categories, dtype: object
{'Services': 12, 'Shops': 30, 'Outdoor': 24, 'Eateries': 32, 'Others': 44, 'Religious Places': 7, 'Exhibitions': 1}
396
847           [Outdoor, Eateries]
848                     [Outdoor]
849           [Outdoor, Eateries]
850                     [Outdoor]
851                     [Outdoor]
                  ...
903    [Outdoor, Shops, Eateries]
904                     [Outdoor]
905                     [Outdoor]
906                     [Outdoor]
907                     [Outdoor]
Name: categories, Length: 61, dtype: object
{'Outdoor': 57, 'Eateries': 24, 'Others': 8, 'Entertainment': 1, 'Shops': 5}
768
1613                      [Eateries, Others, Shops, Arts]
1614                                  [Outdoor, Eateries]
1615             [Others, Shops, Eateries, Arts, Outdoor]
1616    [Eateries, Outdoor, Entertainment, Others, Shops]
1617    [Others, Shops, Arts, Eateries, Outdoor, Servi...
                              ...
1669                                             [Others]
1670                  [Outdoor, Fitness, Shops, Eateries]
1671          [Outdoor, Fitness, Shops, Others, Eateries]
1672      [Outdoor, Eateries, Others, Education, Fitness]
1673                             [Outdoor, Others, Shops]
Name: categories, Length: 61, dtype: object
{'Eateries': 47, 'Others': 20, 'Shops': 45, 'Arts': 4, 'Outdoor': 46, 'Entertainment': 7, 'Services': 10, 'Fitness': 7, 'Education': 10, 'Religious Places': 4, 'Exhibitions': 2}
440
967                        [Others]
968              [Others, Eateries]
969                        [Others]
970                      [Eateries]
971                 [Others, Shops]
                   ...
1026                [Others, Shops]
1027                       [Others]
1028                [Others, Shops]
1029    [Eateries, Outdoor, Others]
1030                [Outdoor, Arts]
Name: categories, Length: 64, dtype: object
{'Others': 56, 'Eateries': 32, 'Shops': 22, 'Fitness': 3, 'Arts': 8, 'Outdoor': 3, 'Services': 3}
445

In [27]:
pd.set_option('display.max_colwidth', 1000)
display(result_df)

   user_id     dominant_sequence   time (s)                                                                                                                                                            general_venue_categories
0      187              [Others]   1.314002                                                                                  {'Others': 44, 'Shops': 7, 'Eateries': 36, 'Arts': 2, 'Outdoor': 5, 'Services': 4, 'Education': 2}
1      384                    []  11.438999                                             {'Others': 46, 'Eateries': 47, 'Shops': 30, 'Services': 32, 'Entertainment': 2, 'Education': 3, 'Arts': 5, 'Outdoor': 5, 'Fitness': 17}
2      448                    []   0.199000                                                                           {'Eateries': 16, 'Shops': 35, 'Others': 36, 'Education': 13, 'Outdoor': 11, 'Services': 15, 'Fitness': 1}
3      819              [Others]   0.415029                                                                                              {'Eateries': 11, 'Outdoor': 35, 'Others': 46, 'Shops': 8, 'Services': 2, 'Fitness': 1}
4      280            [Eateries]   0.054999                                                         {'Eateries': 44, 'Shops': 21, 'Services': 8, 'Others': 11, 'Education': 10, 'Outdoor': 1, 'Entertainment': 1, 'Fitness': 1}
5      281                    []   0.106999                       {'Shops': 38, 'Eateries': 30, 'Outdoor': 5, 'Religious Places': 14, 'Others': 6, 'Education': 19, 'Fitness': 6, 'Entertainment': 3, 'Services': 1, 'Arts': 1}
6      742              [Others]   0.373035                                                            {'Others': 51, 'Shops': 26, 'Entertainment': 14, 'Eateries': 11, 'Outdoor': 18, 'Fitness': 13, 'Arts': 1, 'Services': 2}
7      207                    []   0.047000                                                                                                            {'Others': 38, 'Shops': 40, 'Education': 4, 'Services': 2, 'Outdoor': 1}
8      184                    []   0.070990                                               {'Eateries': 36, 'Others': 28, 'Arts': 9, 'Services': 8, 'Shops': 13, 'Entertainment': 3, 'Outdoor': 4, 'Education': 2, 'Fitness': 2}
9      962            [Eateries]   0.017995                                                                                              {'Outdoor': 2, 'Others': 39, 'Services': 2, 'Eateries': 14, 'Shops': 11, 'Fitness': 1}
10     593                    []   0.062000                                                                                                                           {'Services': 6, 'Eateries': 23, 'Others': 46, 'Shops': 5}
11     652                    []   0.072000                                                                                                             {'Eateries': 43, 'Others': 38, 'Services': 3, 'Shops': 9, 'Outdoor': 2}
12     178               [Shops]   0.049000                                                                       {'Eateries': 43, 'Shops': 39, 'Others': 37, 'Fitness': 14, 'Services': 12, 'Outdoor': 11, 'Entertainment': 1}
13     689            [Eateries]   0.046004                                                                                                                                                    {'Services': 34, 'Eateries': 33}
14     706  [Eateries, Eateries]   4.742049  {'Eateries': 51, 'Shops': 45, 'Entertainment': 21, 'Others': 46, 'Education': 18, 'Services': 18, 'Arts': 10, 'Outdoor': 2, 'Religious Places': 3, 'Fitness': 7, 'Exhibitions': 2}
15     951                    []   0.055999                                                      {'Others': 32, 'Eateries': 39, 'Services': 7, 'Shops': 18, 'Arts': 2, 'Fitness': 4, 'Religious Places': 2, 'Entertainment': 1}
16     527                    []   0.274038                                                                      {'Others': 42, 'Shops': 35, 'Outdoor': 43, 'Eateries': 40, 'Services': 16, 'Entertainment': 1, 'Education': 2}
17     943                    []   0.079000                                                                 {'Others': 45, 'Arts': 4, 'Eateries': 27, 'Exhibitions': 1, 'Shops': 12, 'Fitness': 1, 'Services': 5, 'Outdoor': 4}
18     990            [Services]  10.645000                                                                                                                                       {'Services': 57, 'Others': 34, 'Eateries': 1}
19     120                    []   0.064035                                                      {'Eateries': 29, 'Shops': 13, 'Others': 52, 'Entertainment': 3, 'Religious Places': 1, 'Arts': 1, 'Services': 7, 'Outdoor': 3}
20     974                    []   0.109030                                                                            {'Outdoor': 42, 'Others': 47, 'Shops': 13, 'Eateries': 6, 'Fitness': 11, 'Entertainment': 12, 'Arts': 1}
21     439                    []   0.106999                                                                 {'Services': 12, 'Shops': 30, 'Outdoor': 24, 'Eateries': 32, 'Others': 44, 'Religious Places': 7, 'Exhibitions': 1}
22     396             [Outdoor]   0.054998                                                                                                        {'Outdoor': 57, 'Eateries': 24, 'Others': 8, 'Entertainment': 1, 'Shops': 5}
23     768                    []   0.171028   {'Eateries': 47, 'Others': 20, 'Shops': 45, 'Arts': 4, 'Outdoor': 46, 'Entertainment': 7, 'Services': 10, 'Fitness': 7, 'Education': 10, 'Religious Places': 4, 'Exhibitions': 2}
24     440                    []   0.099999                                                                                   {'Others': 56, 'Eateries': 32, 'Shops': 22, 'Fitness': 3, 'Arts': 8, 'Outdoor': 3, 'Services': 3}
25     445            [Eateries]   0.346960                                                                                      {'Eateries': 56, 'Others': 25, 'Shops': 22, 'Entertainment': 34, 'Services': 20, 'Outdoor': 2}
26     443                    []   0.111999                                                                                             {'Others': 52, 'Eateries': 51, 'Shops': 15, 'Outdoor': 17, 'Arts': 3, 'Exhibitions': 2}
27     371              [Others]   0.651000                      {'Outdoor': 26, 'Shops': 51, 'Others': 64, 'Eateries': 27, 'Services': 12, 'Entertainment': 7, 'Fitness': 3, 'Education': 2, 'Arts': 1, 'Religious Places': 1}
28     354              [Others]   0.119004                  {'Shops': 18, 'Others': 61, 'Outdoor': 30, 'Services': 18, 'Eateries': 38, 'Exhibitions': 2, 'Education': 1, 'Entertainment': 4, 'Arts': 1, 'Religious Places': 1}
29     315                    []   3.312980                                                                            {'Shops': 58, 'Others': 30, 'Eateries': 66, 'Services': 10, 'Outdoor': 5, 'Entertainment': 4, 'Arts': 2}
30     458                    []   0.508004                                                       {'Education': 12, 'Outdoor': 44, 'Shops': 43, 'Eateries': 53, 'Services': 29, 'Entertainment': 1, 'Others': 39, 'Fitness': 3}
31     185            [Eateries]   1.665967               {'Eateries': 63, 'Arts': 30, 'Others': 42, 'Services': 47, 'Outdoor': 38, 'Entertainment': 40, 'Education': 23, 'Shops': 15, 'Religious Places': 1, 'Exhibitions': 1}
32      84                    []   0.968998   {'Eateries': 66, 'Outdoor': 20, 'Arts': 42, 'Others': 53, 'Shops': 44, 'Entertainment': 5, 'Exhibitions': 2, 'Services': 31, 'Fitness': 3, 'Religious Places': 2, 'Education': 8}
33     293                    []   0.905002                                                                                      {'Outdoor': 64, 'Eateries': 22, 'Others': 59, 'Shops': 31, 'Services': 4, 'Entertainment': 10}

In [26]:
display(result_df[result_df.user_id == 448].general_venue_categories)

2    {'Eateries': 16, 'Shops': 35, 'Others': 36, 'Education': 13, 'Outdoor': 11, 'Services': 15, 'Fitness': 1}
Name: general_venue_categories, dtype: object